* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Times, "Times New Roman", Georgia, serif;
}

#avis {
  width: 95%;
  margin: 2% auto;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  padding: 2%;
}
.slider {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#comm {
  width: 100%;
}
.suivre,
.prec {
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  color: pink;
  transition: all 0.8s ease-in-out;
}
.suivre:hover,
.prec:hover {
  color: rgba(230, 84, 108, 0.647);
  transform: scale(1.2);
  transition: all 0.8s ease-in-out;
}

#write_com {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1%;
}

#write_com a {
  text-decoration: none;
  color: pink;
  transition: all 0.5s ease-in-out;
}

#write_com a:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  text-decoration: underline;
}
#perso {
  display: flex;
  justify-content: space-between;
}
#perso h2 {
  min-width: 25%;
}

.commentaires {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  border: 1px solid rgba(230, 84, 109, 0.288);
  border-radius: 20px;
  padding: 2%;
}

.fp {
  font-size: 1.5rem;
}
.commentaires img {
  width: fit-content;
  height: 80px;
}

.commentaires > p:last-child {
  text-align: right;
}
