* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Times, "Times New Roman", Georgia, serif;
}


.slideshow-container {
  width: 100%;
  border-radius: 20px;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.slider {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#comm {
  width: 100%;
}

#write_com {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1%;
}

#write_com a {
  text-decoration: none;
  color: #f6d1d8;
  transition: all 0.5s ease-in-out;
}

#write_com a:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  text-decoration: underline;
}
#perso {
  display: flex;
  justify-content: space-between;
}
#perso h2 {
  min-width: 25%;
}
.mySlides {
  display: none;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 280px;
  margin: 0 auto;
  border: 1px solid #ffefff;
  box-shadow: 0 7px 25px rgb(0 0 0 / 20%);
  border-radius: 20px;
  padding: 2%;
}

.fp {
  font-size: 1.5rem;
}
.mySlides img {
  width: fit-content;
  height: 80px;
}

.mySlides > p:last-child {
  text-align: right;
}
