* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Times, "Times New Roman", Georgia, serif;
}
header {
  position: sticky;
  top: 0;
  z-index: 8;
}

header .main ul {
  width: 100%;
  background-color: #f6d1d8;
  display: inline-flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  gap: 50px;
}

header img {
  width: 250px;
  height: 100px;
}
#mid {
  width: fit-content;
}

header li {
  width: 100%;
  padding: 20px;
  list-style-type: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

header ion-icon {
  vertical-align: middle;
}

header a {
  text-decoration: none;
  color: white;
}

.dropbtn {
  background-color: #f6d1d8;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover a {
  color: grey ;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn:hover {
  background-color: #ffefff;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
#button_menu_smartphone {
  background: #f6d1d8;
  color: white;
}
#button_menu_smartphone ion-icon {
  border: 2px solid white;
  border-radius: 50%;
  padding: 1%;
}

#menu_smartphone {
  position: fixed;
  display: none;
  z-index: 1;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #f6d1d8;
}
#menu_smartphone ul {
  display: inline-flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 0px !important;
}
#menu_smartphone ul div {
  display: block;
}

#menu_smartphone ul div a {
  color: white;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

#menu_smartphone ul a:hover {
  color: white;
  text-decoration: underline;
}
@media screen and (max-width: 910px) {
  #menu ul {
    display: none;
  }
}

@media screen and (min-width: 911px) {
  #button_menu_smartphone,
  #menu_smartphone {
    display: none;
  }
}
