* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Times, "Times New Roman", Georgia, serif;
}

a {
  text-decoration: none;
  color: white;
}

#main_panier {
  display: flex;
  justify-content: space-around;
  margin: 5%;
}

#container_panier {
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-around;
  gap: 100px;
}

#panier_title {
  font-size: medium;
  text-align: center;
  margin: 1%;
  padding: 1%;
  color: pink;
  text-decoration: underline;
}

#panier_content {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 6px rgb(0 0 0 / 50%);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.article {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 2%;
  padding: 2%;
  border-bottom: 1px solid pink;
}
.article ion-icon {
  border-radius: 50%;
  background: pink;
  color: white;
  padding: 5%;
}

.article button {
  border: none;
  background: transparent;
  cursor: pointer;
}

#panier_content img {
  max-width: 150px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(0, 0, 0);
  margin-right: 20px;
  transition: all 500ms;
}

#panier_content img:hover {
  transform: scale(1.2);
  transition: all 500ms;
}

#infos_panier {
  display: flex;
  flex-direction: column !important;
  width: 30%;
  gap: 20px;
}
#total_panier,
#contact,
#info {
  width: 100%;
  height: fit-content;
  box-shadow: 0 0 6px rgb(0 0 0 / 50%);
  border-radius: 10px;
  color: pink;
  padding: 3%;
}
#info p {
  display: flex;
  align-items: center;
}

#contact a {
  color: pink;
}
#valid_panier,
#clear_panier,
#rajout button {
  background: pink;
  color: white;
  border: none;
  padding: 1%;
  border-radius: 10px;
  margin: 0 auto;
  transition: all 0.8s ease-in-out;
  margin: 2%;
}

#valid_panier:hover,
#clear_panier:hover,
#rajout button:hover {
  transform: scale(1.1);
  transition: all 0.8s ease-in-out;
  cursor: pointer;
}

.prxs {
  display: flex;
  justify-content: space-between;
}
span {
  text-transform: capitalize;
}

#rajout {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#rajout {
  background: transparent;
}
#qte {
  height: fit-content;
  display: flex;
  align-items: center;
}

#compteur {
  padding-right: 10px;
}
