section {
  margin-top: 2%;
  margin-bottom: 2%;
}
#infliv{
  text-align: center;
  font-size:12px;
}
.sur_footer {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.infos_sur {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  padding: 1%;
  margin: 2%;
  transition: all 0.8s ease-in-out;
  text-align: center;
}
.infos_sur:hover {
  transform: scale(1.1);
  transition: all 0.8s ease-in-out;
  cursor: pointer;
  opacity: 0.5;
}
.infos_sur ion-icon {
  color: pink;
  margin: 2%;
  font-size: 30px;
  font-weight: bold;
}
#avion {
  transform: rotate(-45deg);
}

.infos_sur a{
    text-decoration: none;
    color: black;
}